* {
  transition: all 0.4s ease-out;
}

#contactsList td {
  cursor: pointer;
  width: 21%;
}

#contactsList td:hover {
  background-color: rgba(77, 222, 222, 0.5);
}

#contactPopup {
  display: none;
}

.showPopup {
  display: block;
  position: fixed;
  top: 0px;
  height: 100%;
  background-color: rgb(131, 129, 127);
}
