thead {
  font-size: 22px;
}

#contactPopup {
  display: none;
}

.showPopup {
  display: block;
  font-size: 22px;
  color: black;
  position: absolute;
  top: 60px;
  height: 100%;
  width: 100%;
  background-color: burlywood;
}
