* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.tabset__wrapper {
  width: 88%;
  margin: 0 auto;
}

.tabset__container {
  display: flex;
}

.tabset__element--heading {
  cursor: pointer;
  padding: 4px;
}

.tabset__element--heading:hover {
  color: skyblue;
  border: 0.25px solid rgba(169, 169, 169, 0.22);
}

.tabset__element--heading--checked {
  border: 0.25px solid rgba(169, 169, 169, 0.66);
  border-bottom: none;
}

.tabset__element--body {
  display: none;
}

.tabset__element--body--show {
  display: block;
  padding: 10px;
  border: 0.25px solid rgba(169, 169, 169, 0.22);
}
