.user-row {
  cursor: pointer;
}

.user-row:hover {
  background-color: #3d4547;
}

.list {
  float: left;
  width: 45%;
  margin: 10px;
}

input {
  width: 24%;
}

#submit {
  width: 100%;
  cursor: pointer;
}

.user-item.done {
  background-color: lightcoral;
}