* {
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

#createStickerButton,
input,
textarea,
label {
  cursor: pointer;
}

#createStickerButton:hover,
input:hover,
textarea:hover {
  background-color: rgba(211, 211, 211, 0.44);
  font-size: 14px;
}

#modalStickersTable {
  margin: 0 auto;
}

.cancelBtn {
  background-color: rgba(255, 255, 0, 0.22);
  margin: 0 auto;
}

.saveBtn {
  background-color: rgba(0, 255, 0, 0.22);
  margin: 0 auto;
}

.cancelBtn:hover {
  background-color: rgba(255, 255, 0, 0.99);
  font-size: 14px;
}

.saveBtn:hover {
  background-color: rgba(0, 255, 0, 0.99);
  font-size: 14px;
}

thead {
  text-align: center;
  text-decoration: underline;
  font-style: oblique;
}

#blackboardTable {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blackboardTableHead {
  flex: 1 0 auto;
}

#blackboardTableHead th {
  font-size: 22px;
  text-align: center;
}

#blackboardTableFoot {
  flex: 0 0 auto;
}

#blackboardTableBody td,
#blackboardTableFoot td {
  text-align: center;
}

.toggleStatePopupStickerTemplate {
  height: 100vh;
  width: 100vw;
  border: 2px solid ridge;
  text-align: -webkit-center;
}
