.accordeon-element {
    width: 100%;
    margin: 0px;
    text-align: left;
}

.accordeon-heading {
    padding: 4px;
    background: skyblue;
    color: indigo;
    cursor: pointer;
    transition: 1s;
}

.accordeon-heading.active, .accordeon-heading:hover {
    background: indigo;
    color: skyblue;
}

.accordeon-body {
    display: none;
}

.accordeon-body.active {
    display: block;
}

.accordeon-show {
    display: block;
    padding: 22px;
    background: salmon;
}


.accordeon-dd {
    display: block;
    padding: 25s2px;
    background: salmon;
}