.accordeon-element {
    width: 33%;
    margin: 6px auto;
    text-align: center;
}

.accordeon-heading:hover {
    background: indigo;
    color: skyblue;
}

.accordeon-heading {
    background: skyblue;
    color: indigo;
    cursor: pointer;
    transition: 1s;
}

.accordeon-body {
    background: salmon;
    display: none;
}

.accordeon-body.show {
    display: block;
}

.accordeon-body.close {
    display: none;
}